
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img{
    display: block;
     max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
/* header */

.header{
    border-bottom: 1px solid #e7e9fc;
}    

.header-content{
    width: 1158px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.page-nav{
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}

.logo-part-header{
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px
}

.menu-link{
    padding: 24px 0 24px
}
.menu-link:hover {
        color: #404bbf;
    }

.menu-link:focus {
    color: #404bbf;
}
.address{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal
}

.address-list{
    display: flex;
    gap: 40px;
}
.address-item:hover{
    color: #404bbf;
}
.address-item:focus
{
    color:#404bbf ;
}
.address-item{
    padding-top: 24px;
    padding-bottom: 24px;
}

/* hero */
.hero{
    padding: 188px 0;
    background-color: #2e2f42;
}
.hero-container{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.main-title{
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.order-service-btn{
    display: block;
    margin-top: 48px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 233px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:#4d5ae5;
    color: #fff;
    border: none;
}
.order-service-btn:hover,
.order-service-btn:focus
{
    background-color: #404BBF;
}


/* about-us */
.about-us{
    padding: 120px 0;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
.about-us-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.about-us-list-item{
    width: calc((100% - 72px) / 4);
}
.about-us-list-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.about-us-list-item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*our-team */

.our-team{
    padding: 120px 0;
    background-color: #F4F4FD;
}



.team-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-title{
    margin-bottom: 72px;
}
.team-list-item {
        width: calc((100% - 72px) / 4);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
}
.team-name-content{
    padding: 32px 0;
}

.team-list-titile {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-top: 32px;
        margin-bottom: 8px;
}

.team-list-text{
    margin-bottom: 32px;
}

/* portfolio */
.portfolio{
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section-title{
    margin-bottom: 72px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    column-gap: 24px;
    justify-content: center;
}
.portfolio-list-item{
    width: calc((100% - 48px) / 3);
}
.portfolio-item-content{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none
}
.portfolio-list-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 16px;
    margin-bottom: 32px;
}

/* footer */
.footer-page{
    padding: 100px 0;
    background-color: #2e2f42;
}
.logo-footer {
        font-family: "Raleway", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            padding-left: 156px;
            display: inline-block;
            margin-bottom: 16px;
}

.logo-footer-part{
    color: #f4f4fd;
}


.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
    width: 264px;
    margin-left: 156px;
}
